<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
  <link rel="stylesheet" href="./css/vendor.css">
  <link rel="stylesheet" href="./css/home.css">
  <link rel="stylesheet" href="./css/google/fonts.css">
</head>
<body>
 <header class="header">
   <div class="header-info">
     <div class="container">
       <div class="header-info-auth">
         <a href="#">Register for FREE!</a>
         <a href="#">login</a>
       </div>

      <div class="header-contact-info">
        <div class="header_phone-info">
          <i class="fas fa-phone"></i> 
          <p>+009 998 885 550</p>
        </div>
        <div class="header_email-info">
          <i class="fas fa-envelope"></i>
          <p>Youremaillhere@gmail.com</p>
        </div>
        <div class="header_icons">
          <i class="fas fa-envelope"></i>
          <i class="fas fa-envelope"></i>
          <i class="fas fa-envelope"></i>
          <i class="fas fa-envelope"></i>
          <i class="fas fa-envelope"></i>
        </div>
      </div>

     </div>
     
   </div>
   <div class="header-nav">
     <div class="container">
       <div class="header-logo">
         <img src="" alt="">
         <h2>seo.maza</h2>
       </div>
       <div class="header-navigation">
         <ul>
           <li><a href="">home</a></li>
           <li><a href="">about</a></li>
           <li><a href="">service</a></li>
           <li><a href="">case study</a></li>
           <li><a href="">bolg</a></li>
           <li><a href="">page</a></li>
           <li><a href="">contact</a></li>
         </ul>
       </div>
       <div class="header-button">
         <button class="header__button">
           <a href="#">free seo analyze</a>
         </button>
       </div>


     </div>
   </div>
 </header>

<div class="main">
  <div class="main-info">
    <section class="main__block-1">
      <div class="main__block-1-text">
        <h1>Improve Your Website's Rank On With Us...!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
          elit, sed do so w eiusmod to a tempor incididunt 
          ut labore et dolore magna ali</p>
        <div class="chek-block">
          <img src="./images/chek-block" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <img src="./images/chek-block" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisi top</p>
        </div>
        <button class="main__block-1-button"></button>
      </div>
      <div class="main__block-1-img">
        <img src="./images/main-pic1.png" alt="">
      </div>
    </section>

    <section class="question">
      <h2>who we are?</h2>
      <p>There are many variations of passages of Lorem Ipsum available, 
        but the majority have suffered alteration 
        in some form, by injected humour, or randomised words </p>
      <div class="question__blocks">
      
        <div class="question__block">
          <h5>Web Analytics</h5>
          <p>Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore</p>
          <a href="#">learn more</a>
        </div>
        <div class="question__block">
            <h5>Digital Marketing</h5>
            <p>Lorem ipsum dolor sit amet, 
              consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore</p>
            <a href="#">learn more</a>
        </div>
        <div class="question__block">
            <h5>Website Optimization</h5>
            <p>Lorem ipsum dolor sit amet, 
              consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore</p>
            <a href="#">learn more</a>
        </div>      
      </div>   

      <div class="question-information">
        <div class="question-information__img">
          <img src="./images/main-pic2.png" alt="">
        </div>
        <div class="question-information__txt">
          <h2>Our Company Information...</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut in labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.abore et dolore magna to aliqua. Ut enim ad minim veniam, quis nostrud.Lorem ipsum dolor sit amet, 
            consectetur to a the adipisicing elit, sed do eiusmod tempor incididunt</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut in labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud.abore et dolore magna tit aliqua. 
              Ut enim ad minim veniam, quis nostrud.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="question__first-button">learn more</button>
            <button class="question__second-button">learn more</button>
        </div>
      </div>
    </section>
    <section class="achive">
      <div class="achive-blocks">
        <div class="projects">
          <img src="./images/projects.png" alt="">
          <a href="">698+</a>
          <p>projects done</p>
        </div>
        <div class="projects">
          <img src="./images/happy.png" alt="">
          <a href="">263+</a>
          <p>happy clients</p>
        </div>
        <div class="projects">
          <img src="./images/tropic.png" alt="">
          <a href="">69+</a>
          <p>awards wins</p>
        </div>
        <div class="projects">
          <img src="./images/coffee.png" alt="">
          <a href="">1500+</a>
          <p>cup of coffee</p>
        </div>
      </div>
    </section>
    <section class="service">
      <h2><span>our</span> best services</h2>
      <p>There are many variations of passages of Lorem Ipsum available, 
        but the majority have suffered alteration in some form, 
        by injected humour, 
        or randomised words </p>
      <div class="services__blocks">
        <div class="services__block">
          <img src="./images/desktop.png" alt="">
          <h6>digital marketing</h6>
          <p>Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore</p>
          <a href="">learn more</a>
        </div>
        <div class="services__block">
            <img src="./images/desktop.png" alt="">
            <h6>Pay Per Click Advertising</h6>
            <p>Lorem ipsum dolor sit amet, 
              consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore</p>
            <a href="">learn more</a>
        </div>
        <div class="services__block">
            <img src="./images/desktop.png" alt="">
            <h6>digital marketing</h6>
            <p>Lorem ipsum dolor sit amet, 
              consectetur adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore</p>
            <a href="">learn more</a>
        </div>
      </div> 
      <button class="services__button">full services</button> 
    </section>
    <section class="studio">
      <h2>our caser studio</h2>
      <p>There are many variations of passages of Lorem Ipsum available, 
        but the majority have suffered alteration in some form, 
        by injected humour, or randomised words </p>
        <div class="studio__blocks">
          <div class="studio__block">
            <img src="" alt="">
            <div class="studio__txt-block">
              <h6>web traffic management</h6>
              <p>seo, marketing</p>
            </div>
          </div>

          <div class="studio__block">
              <img src="" alt="">
              <div class="studio__txt-block">
                <h6>web traffic management</h6>
                <p>seo, marketing</p>
              </div>
          </div>
          <div class="studio__block">
              <img src="" alt="">
              <div class="studio__txt-block">
                <h6>web traffic management</h6>
                <p>seo, marketing</p>
              </div>
          </div>
          <div class="studio__block">
              <img src="" alt="">
              <div class="studio__txt-block">
                <h6>web traffic management</h6>
                <p>seo, marketing</p>
              </div>
          </div>
          <div class="studio__block">
              <img src="" alt="">
              <div class="studio__txt-block">
                <h6>web traffic management</h6>
                <p>seo, marketing</p>
              </div>
          </div>
          <div class="studio__block">
              <img src="" alt="">
              <div class="studio__txt-block">
                <h6>web traffic management</h6>
                <p>seo, marketing</p>
              </div>
          </div>

        </div>
        <button class="studio__button">full cases</button>
    </section>
  </div>









</div>



 <footer class="footer">
   <div class="footer-info">
     <div class="container">
       <div class="footer-txt__block">
        <div class="footer-logo">
          <img src="" alt="">
          <h2>seo.maza</h2>
        </div>
        <div class="footer-text">
          <p>
              Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor incididunt a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod tempor incididunt ut labore end

              Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor incididunt ut labore
              
              Lorem ipsum dolor sit amet, consectetur tob the a in  araaadipisicing elit, sed do eiusmod
          </p>
        </div>
       </div>

       <div class="footer-form__block">
         <div class="footer-form__contact">
           <h2>Contact with us</h2>
         </div>
         <div class="footer__form">
           <input type="text" id="" placeholder="your name here">
           <input type="text" id="" placeholder="your email here">
           <textarea name="" id="" cols="30" rows="10" placeholder="messages"></textarea>
           <button class="footer-button">submit</button>
         </div>
       </div>

       <div class="footer-contact__block">
         <div class="footer-contact__txt">
           <h2>latest news</h2>
         </div>

         <div class="footer-contact__contacts">
           <div class="footer-contact__first-contact">
             <p>How can be successfull in market seo.maza Market place..</p>
             <a href="">13 Feb, 2016 / </a>
             <i>Business</i>
           </div>
           <div class="footer-contact__second-contact">
              <p>How can be successfull in market seo.maza Market place..</p>
              <a href="">13 Feb, 2016 / </a>
              <i>Business</i>
            </div>
            <div class="footer-contact__threest-contact">
                <p>How can be successfull in market seo.maza Market place..</p>
                <a href="">13 Feb, 2016 / </a>
                <i>Business</i>
              </div>
         </div>

       </div>

     </div>
   </div>
   <img src="./images/footer-line.png" alt="#">
   <p>Copyright © 2018 All Right by Thememarshall..</p>
 </footer>


</body>
</html>